<div class="header clearfix">
  <h3 class="page-header">App List</h3>
</div>

<p>Returns a list of all known apps. Includes some summary information around the number of ratings and comments, as well as all information needed to configure and place the apps in a learning system.</p>
 
<table class="table table-bordered">
  <tbody><tr>
    <td>Method</td>
    <td><code>GET</code></td>
  </tr><tr>
    <td>Endpoint</td>
    <td>
      <a href="<%= root_url %>api/v1/lti_apps/twitter" target="_blank" class=" pull-right btn btn-xs btn-info">Try It</a>
      <code><%= root_url %>api/v1/lti_apps</code>
    </td>
  </tr></tbody>
</table>

<fieldset>
  <legend>Example Code</legend>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#ruby" data-toggle="tab">Ruby</a></li>
    <li><a href="#python" data-toggle="tab">Python</a></li>
    <li><a href="#curl" data-toggle="tab">Curl</a></li>
    <li class="pull-right"><a href="<%= lti_apps_url %>" target="_blank">Example Response</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="ruby">
      <pre class="brush: ruby">
require 'net/http'

url = "<%= lti_apps_url %>"
uri = URI.parse(url)
res = Net::HTTP.get_response(uri)
body = res.body
      </pre>
    </div>
    <div class="tab-pane" id="python">
      <pre class="brush: python">
import urllib
import urllib2

url = '<%= lti_apps_url %>'
response = urllib2.urlopen(url)
body = response.read()
      </pre>
    </div>
    <div class="tab-pane" id="curl">
      <pre class="brush: bash">
curl -i \
     -H "Accept: applicaton/json" \
     <%= lti_apps_url %>
      </pre>
    </div>
  </div>

</fieldset>