<% content_for :head, javascript_include_tag("syntax_highlighter") %>
<% content_for :title, "API - App Details" %>

<div class="header clearfix">
  <h3 class="page-header">App Details</h3>
</div>

<p>Returns information on a single app. This doesn't provide any additional information than what's available in the app list response.</p>
<p>The <code>id</code> is the unique identifier (or short name) of the LTI app (e.g. 'twitter')</p>

<table class="table table-bordered">
  <tbody><tr>
    <td>Method</td>
    <td><code>GET</code></td>
  </tr><tr>
    <td>Endpoint</td>
    <td>
      <a href="<%= root_url %>api/v1/lti_apps/twitter" target="_blank" class=" pull-right btn btn-xs btn-info">Try It</a>
      <code><%= root_url %>api/v1/lti_apps/:id</code>
    </td>
  </tr></tbody>
</table>

<legend>Example Code</legend>

<ul class="nav nav-tabs">
  <li class="active"><a href="#ruby" data-toggle="tab">Ruby</a></li>
  <li><a href="#python" data-toggle="tab">Python</a></li>
  <li><a href="#curl" data-toggle="tab">Curl</a></li>
  <li class="pull-right"><a href="#json-response" data-toggle="tab">Example Response</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="ruby">
    <pre class="brush: ruby">
require 'net/http'

url = "<%= root_url %>api/v1/lti_apps/twitter"
uri = URI.parse(url)
res = Net::HTTP.get_response(uri)
body = res.body
    </pre>
  </div>
  <div class="tab-pane" id="python">
    <pre class="brush: python">
import urllib
import urllib2

url = '<%= root_url %>api/v1/lti_apps/twitter'
response = urllib2.urlopen(url)
body = response.read()
    </pre>
  </div>
  <div class="tab-pane" id="curl">
    <pre class="brush: bash">
curl -i \
   -H "Accept: applicaton/json" \
   <%= root_url %>api/v1/lti_apps/twitter
    </pre>
  </div>
  <div class="tab-pane" id="json-response">
    <pre class="brush: js">
{
lti_app: {
  id: 1771,
  short_name: "twitter",
  name: "Twitter",
  short_description: "Embed tweet streams",
  status: "active",
  is_public: false,
  app_type: "open_launch",
  preview_url: "http://www.edu-apps.org/tools/twitter/index.html",
  banner_image_url: "http://www.edu-apps.org/tools/twitter/banner.png",
  logo_image_url: "http://www.edu-apps.org/tools/twitter/logo.png",
  icon_image_url: "http://www.edu-apps.org/tools/twitter/icon.png",
  average_rating: 5,
  total_ratings: 2
}
} 
    </pre>
  </div>
</div>

<p>If you pass the API Token as a header it will filter the response to only the apps which are approved for the organization. If the app exists but the organization does not have it on the approved list, a <code>404</code> will be returned.</p>
