<div class="main-content">
  <div class="header clearfix">
    <h3 class="page-header">Change Password (for <%= @user.name %>)</h3>
  </div>

  <%= form_for @user, url: update_password_path do |f| %>
    <div class="form-group <% if @user.errors.include? :password %>has-error<% end %>">
      <%= f.label :password, "Password", class: "control-label" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      <% if @user.errors.include? :password %>
        <small class="help-block"><%= @user.errors.full_messages_for(:password).first %></small>
      <% end %>
    </div>

    <div class="form-group <% if @user.errors.include? :password_confirmation %>has-error<% end %>">
      <%= f.label :password_confirmation, "Confirm Password", class: "control-label" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %>
      <% if @user.errors.include? :password_confirmation %>
        <small class="help-block"><%= @user.errors.full_messages_for(:password_confirmation).first %></small>
      <% end %>
    </div>

    <div class="control-group clearfix">
      <div class="controls">
        <button class="btn btn-primary pull-right" type="submit">Update Password</button>
      </div>
    </div>
  <% end %>
</div>