{{#with view}}

<fieldset>
  <legend>
    <label class="extension-checkbox pull-right">
      {{input type="checkbox" checked=content.enabled}} Enabled?
    </label>
    Extension: {{displayName}}
  </legend>
  <div class="well well-small">
    {{#if content.enabled}}
      <div class="form-group">
        <label>LTI Launch URL</label>
        {{input type="text" 
                value=content.url
                class="form-control" 
                placeholder="https://"
                data-placement="bottom"
                data-toggle="popover" 
                data-content="CONTENT NEEDED"}}
      </div>
      <div class="form-group">
        <label>Link Text</label>
        {{input type="text" 
                value=content.link_text 
                class="form-control" 
                placeholder=""
                data-placement="bottom"
                data-toggle="popover" 
                data-content="CONTENT NEEDED"}}
      </div>
      {{#if displayExtras}}
        <div class="form-group">
          <label>Visibility</label>
          {{view Ember.Select
                 contentBinding="App.visibilityOptions"
                 optionValuePath="content.value"
                 optionLabelPath="content.name"
                 valueBinding=content.visibility
                 class="form-control"}}
        </div>
        <div class="checkbox">
          <label>
            {{input type="checkbox" checked=content.enabled_by_default}}
            Enabled by default?
          </label>
        </div>
      {{/if}}
      </div>
      <div class="checkbox">
        <label>
          {{input type="checkbox" checked=content.is_optional}} Is this extension optional?
        </label>
      </div>
    {{else}}
      <div class="text-center">Click the checkbox above to enable this extension</div>
    {{/if}}
  </div>
</fieldset>

{{/with}}