{{#view App.FlashView id="flash-view"}}
  <div id="message">
    {{view.content.message}}
  </div>
{{/view}}

<div id="main-panels" class="row padded">
  {{#if showForm}}
    <div class="col-lg-6">
      <div class="main-content" style="margin-bottom: 10px;">
        <div class="header clearfix">
          <h3 class="page-header">
            <button {{action "save"}} class="btn btn-success btn-sm pull-right">Save</button>
            Configure XML
          </h3>
        </div>
        {{outlet}}
      </div>
    </div>
  {{/if}}
  <div {{bindAttr class=":col-lg-6 showForm::col-lg-offset-3"}}>

    <div class="main-content" style="margin-bottom: 10px; display: none;" id="import-panel">
      <div class="header clearfix">
        <h3 class="page-header">
          <button {{action "hideImportForm"}} type="button" class="close" aria-hidden="true" style="pull-right">&times;</button>
          Import from XML Config URL
        </h3>
        <form {{action "import" on="submit"}} style="margin: 10px 0 0 0;">
          <div class="row">
            <div class="col-9">
              {{input type="text" class="form-control" value=importUrl placeholder="https://"}}
            </div>
            <div class="col-3">
              <button type="submit" class="btn btn-primary btn-block pull-right" style="margin-left: 5px;">Import</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="main-content" style="margin-bottom: 10px;">
      <div class="header clearfix">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Create <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" {{action "new"}}>From Scratch</a></li>
            <li><a href="#" {{action "displayImportForm"}}>From XML Config URL</a></li>
          </ul>
        </div>
        <h3 class="page-header">
          My Saved Configurations
        </h3>
      </div>

      <table class="table">
        <thead>
          <tr>
            {{#each columns itemController="columnItem"}}
              <th class="sortable" {{action toggleSort name}}>
                {{label}}
                {{#if sortedAsc}}<i class="icon-chevron-up"></i>{{/if}}
                {{#if sortedDesc}}<i class="icon-chevron-down"></i>{{/if}}
              </th>
            {{/each}}
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {{#each controller}}
          {{log this}}
          <tr>
            <td>{{name}}</td>
            <td>{{fromNow updated_at}}</td>
            <td class="circle-buttons">
              <span class="icon-stack text-danger pull-right">
                <i class="icon-circle icon-stack-base"></i>
                <a {{action "delete" this}} href="#"><i class="icon-top-layer icon-trash icon-light"></i></a>
              </span>
              <span class="icon-stack text-info pull-right">
                <i class="icon-circle icon-stack-base"></i>
                {{#linkTo "cartridge" this}}<i class="icon-top-layer icon-edit icon-light"></i>{{/linkTo}}
              </span>
              <span class="icon-stack text-success pull-right">
                <i class="icon-circle icon-stack-base"></i>
                <a {{action "showXml" this}}><i class="icon-top-layer icon-code icon-light"></i></a>
              </span>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>

    {{#if showForm}}
      {{partial "xml"}}
    {{/if}}
  </div>
</div>