<form {{action "buildXml" on="submit"}}>
  {{#view "App.FormGroupView" errorBinding=cartridge.errors.title}}
    <label>Name</label>
    {{input type="text" 
            value=cartridge.title
            class="form-control" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
    <span class="help-block">{{cartridge.errors.title}}</span>
  {{/view}}
  {{#view "App.FormGroupView" errorBinding=cartridge.errors.tool_id}}
    <small class="text-muted pull-right">lowercase letters + underscore</small>
    <label>Unique Identifier</label>
    {{input type="text" 
            value=cartridge.tool_id 
            class="form-control" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content='use underscore (_) for spaces and all lowercase, e.g. khan_academy'}}
    <span class="help-block">{{cartridge.errors.tool_id}}</span>
  {{/view}}
  {{#view "App.FormGroupView" errorBinding=cartridge.errors.launch_url}}
    <label>LTI Launch URL</label>
    {{input type="text" 
            value=cartridge.launch_url 
            class="form-control" 
            placeholder="https://" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
    <span class="help-block">{{cartridge.errors.launch_url}}</span>
  {{/view}}
  <div class="form-group">
    <small class="text-muted pull-right">
      {{remaining-characters body=cartridge.description max=250}}
    </small>
    <label>Description</label>
    {{view Ember.TextArea 
            rows="3"
            valueBinding=cartridge.description 
            class="form-control" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
  </div>
  {{#view "App.FormGroupView" errorBinding=cartridge.errors.icon_url}}
    <small class="text-muted pull-right">(16x16 PNG, GIF or JPG)</small>
    <label>Icon URL</label>
    {{input type="text" 
            value=cartridge.icon_url
            class="form-control" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
    <span class="help-block">{{cartridge.errors.icon_url}}</span>
  {{/view}}
  <div class="form-group">
    <label>Link Text</label>
    {{input type="text" 
            value=cartridge.text
            class="form-control" 
            placeholder="" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
  </div>
  <div class="row">
    <div class="col-6">
      {{#view "App.FormGroupView" errorBinding=cartridge.errors.default_width}}
        <label>Default Width (px)</label>
        {{input type="text" 
                value=cartridge.default_width
                class="form-control" 
                data-placement="bottom"
                data-toggle="popover" 
                data-content="CONTENT NEEDED"}}
        <span class="help-block">{{cartridge.errors.default_width}}</span>
      {{/view}}
    </div>
    <div class="col-6">
      {{#view "App.FormGroupView" errorBinding=cartridge.errors.default_height}}
        <label>Default Height (px)</label>
        {{input type="text" 
                value=cartridge.default_height
                class="form-control" 
                data-placement="bottom"
                data-toggle="popover" 
                data-content="CONTENT NEEDED"}}
        <span class="help-block">{{cartridge.errors.default_height}}</span>
      {{/view}}
    </div>
  </div>
  <div class="form-group">
    <label>Launch Privacy</label>
    {{view Ember.Select
           contentBinding="App.launchPrivacy"
           optionValuePath="content.value"
           optionLabelPath="content.name"
           valueBinding=cartridge.privacy_level
           class="form-control"
           data-placement="bottom"
           data-toggle="popover" 
           data-content="CONTENT NEEDED"}}
  </div>
  <div class="form-group">
    <label>Domain</label>
    {{input type="text" 
            value=cartridge.domain 
            class="form-control" 
            placeholder="my.domain.com" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
  </div>

  <fieldset>
    <legend>
      <a href="#" {{action "addConfigOption"}} class="btn btn-xs btn-link pull-right"><i class="icon-plus"></i> Add Config Option</a>
      Config Options(s)
    </legend>
    <div class="form-group">
      {{#each cartridge.config_options}}
        {{view "App.ConfigOptionView" contentBinding=this}}
      {{else}}
        <div class="text-center">There are no config options</div>
      {{/each}}
    </div>
  </fieldset>


  <fieldset>
    <legend>
      <a href="#" {{action "addCustomField"}} class="btn btn-xs btn-link pull-right"><i class="icon-plus"></i> Add Custom Field</a>
      Custom Field(s)
    </legend>
    <div class="form-group">
      {{#each cartridge.custom_fields}}
        {{view "App.CustomFieldView" contentBinding=this}}
      {{else}}
        <div class="text-center">There are no custom fields</div>
      {{/each}}
    </div>
  </fieldset>

  {{view "App.CustomSelectionView" contentBinding=cartridge.editor_button}}
  {{view "App.CustomSelectionView" contentBinding=cartridge.resource_selection}}
  {{view "App.CustomSelectionView" contentBinding=cartridge.homework_submission}}
  {{view "App.CustomNavigationView" contentBinding=cartridge.course_navigation}}
  {{view "App.CustomNavigationView" contentBinding=cartridge.account_navigation}}
  {{view "App.CustomNavigationView" contentBinding=cartridge.user_navigation}}

</form>
