<form {{action "buildXml" on="submit"}}>
  {{#view "App.FormGroupView" errorBinding=cartridge.errors.title}}
    <label>Name</label>
    {{input type="text" 
            value=cartridge.title
            class="form-control" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
    <span class="help-block">{{cartridge.errors.title}}</span>
  {{/view}}
  {{#view "App.FormGroupView" errorBinding=cartridge.errors.toolId}}
    <small class="text-muted pull-right">lowercase letters + underscore</small>
    <label>Unique Identifier</label>
    {{input type="text" 
            value=cartridge.toolId 
            class="form-control" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content='use underscore (_) for spaces and all lowercase, e.g. khan_academy'}}
    <span class="help-block">{{cartridge.errors.toolId}}</span>
  {{/view}}
  {{#view "App.FormGroupView" errorBinding=cartridge.errors.launchUrl}}
    <label>LTI Launch URL</label>
    {{input type="text" 
            value=cartridge.launchUrl 
            class="form-control" 
            placeholder="https://" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
    <span class="help-block">{{cartridge.errors.launchUrl}}</span>
  {{/view}}
  <div class="form-group">
    <small class="text-muted pull-right">250 char max</small>
    <label>Description</label>
    {{view Ember.TextArea 
            rows="3"
            valueBinding=cartridge.description 
            class="form-control" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
  </div>
  {{#view "App.FormGroupView" errorBinding=cartridge.errors.iconUrl}}
    <small class="text-muted pull-right">(16x16 PNG, GIF or JPG)</small>
    <label>Icon URL</label>
    {{input type="text" 
            value=cartridge.iconUrl
            class="form-control" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
    <span class="help-block">{{cartridge.errors.iconUrl}}</span>
  {{/view}}
  <div class="form-group">
    <label>Link Text</label>
    {{input type="text" 
            value=cartridge.defaultLinkText
            class="form-control" 
            placeholder="" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
  </div>
  <div class="row">
    <div class="col-6">
      {{#view "App.FormGroupView" errorBinding=cartridge.errors.defaultWidth}}
        <label>Default Width (px)</label>
        {{input type="text" 
                value=cartridge.defaultWidth
                class="form-control" 
                data-placement="bottom"
                data-toggle="popover" 
                data-content="CONTENT NEEDED"}}
        <span class="help-block">{{cartridge.errors.defaultWidth}}</span>
      {{/view}}
    </div>
    <div class="col-6">
      {{#view "App.FormGroupView" errorBinding=cartridge.errors.defaultHeight}}
        <label>Default Height (px)</label>
        {{input type="text" 
                value=cartridge.defaultHeight
                class="form-control" 
                data-placement="bottom"
                data-toggle="popover" 
                data-content="CONTENT NEEDED"}}
        <span class="help-block">{{cartridge.errors.defaultHeight}}</span>
      {{/view}}
    </div>
  </div>
  <div class="form-group">
    <label>Launch Privacy</label>
    {{view Ember.Select
           contentBinding="App.launchPrivacy"
           optionValuePath="content.value"
           optionLabelPath="content.name"
           valueBinding=cartridge.launchPrivacy
           class="form-control"
           data-placement="bottom"
           data-toggle="popover" 
           data-content="CONTENT NEEDED"}}
  </div>
  <div class="form-group">
    <label>Domain</label>
    {{input type="text" 
            value=cartridge.domain 
            class="form-control" 
            placeholder="my.domain.com" 
            data-placement="bottom"
            data-toggle="popover" 
            data-content="CONTENT NEEDED"}}
  </div>

  <fieldset>
    <legend>
      <a href="#" {{action "addConfigOption"}} class="btn btn-xs btn-info pull-right"><i class="icon-plus"></i> Add Config Option</a>
      Config Options(s)
    </legend>
    <div class="form-group">
      {{#each cartridge.configOptions}}
        {{view "App.ConfigOptionView" contentBinding=this}}
      {{else}}
        <div class="text-center">There are no config options</div>
      {{/each}}
    </div>
  </fieldset>


  <fieldset>
    <legend>
      <a href="#" {{action "addCustomField"}} class="btn btn-xs btn-info pull-right"><i class="icon-plus"></i> Add Custom Field</a>
      Custom Field(s)
    </legend>
    <div class="form-group">
      {{#each cartridge.customFields}}
        {{view "App.CustomFieldView" contentBinding=this}}
      {{else}}
        <div class="text-center">There are no custom fields</div>
      {{/each}}
    </div>
  </fieldset>

  {{view "App.CustomSelectionView" contentBinding=cartridge.editorButton}}
  {{view "App.CustomSelectionView" contentBinding=cartridge.resourceSelection}}
  {{view "App.CustomSelectionView" contentBinding=cartridge.homeworkSubmission}}
  {{view "App.CustomNavigationView" contentBinding=cartridge.courseNav}}
  {{view "App.CustomNavigationView" contentBinding=cartridge.accountNav}}
  {{view "App.CustomNavigationView" contentBinding=cartridge.userNav}}

</form>
