<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Tokenable</th>
      <th>API Token</th>
      <th>Created</th>
      <th>Expires</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% api_keys.each do |api_key| %>
    <tr>
      <% if tokenable = api_key.user %>
        <td><i class="canvas-icon-user"></i> <%= tokenable.name %></td>
      <% elsif tokenable = api_key.organization %>
        <td><i class="icon-group"></i> <%= tokenable.name %></td>
      <% end %>
      <td><%= api_key.access_token %></td>
      <td><%= api_key.created_at.strftime("%b %d, %Y") %></td>
      <td><span class="label label-<%= api_key.expired? ? 'default' : 'success' %>"><%= api_key.expired_at.strftime("%b %d, %Y") %></span></td>
      <td class="text-right">
        <% if current_user.can_manage?(api_key.organization) %>
          <% if api_key.expired? %>
            <%= link_to raw("<i class='icon-magic'></i> Renew"), renew_token_organization_api_key_path(api_key.organization, api_key), class: "btn btn-xs btn-info" %>
          <% else %>
            <%= link_to raw("<i class='icon-remove'></i> Expire"), expire_token_organization_api_key_path(api_key.organization, api_key), class: "btn btn-xs btn-danger" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>