<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @tag.short_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Context:</strong>
  <%= @tag.context %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
