<div class="main-content">
  <div class="header clearfix">
    <h3 class="page-header">Add New Organization</h3>
  </div>

  <%= form_for @organization, url: settings_memberships_path do |f| %>
    <div class="form-group <% if @organization.errors.include? :name %>has-error<% end %>">
      <%= f.label :name, "Name", class: "control-label" %>
      <%= f.text_field :name, placeholder: "Organization Name", class: "form-control" %>
      <% if @organization.errors.include? :name %>
        <small class="help-block"><%= @organization.errors.full_messages_for(:name).first %></small>
      <% end %>
    </div>

    <div class="control-group clearfix">
      <div class="controls">
        <button class="btn btn-primary pull-right" type="submit">Create Organization</button>
        <%= link_to "Cancel", settings_memberships_path, class: "btn btn-link pull-right" %>
      </div>
    </div>
  <% end %>
</div>