<div class="main-content">
  <div class="header clearfix">
    <%= link_to raw("&laquo; Back to Organization"), settings_memberships_path, class: "btn btn-link pull-right" %>
    <h3 class="page-header"><%= @membership.organization.name %></h3>
  </div>

  <div class="well well-small clearfix" style="line-height: 32px;">
    <div class="row">
      <div class="col-12 col-sm-8 col-lg-8">
        <% if @membership.organization.current_api_key %>
          <div class="input-group">
            <input class="form-control" value="<%= @membership.organization.current_api_key.access_token %>" />
            <span class="input-group-btn">
              <button class="copy-button btn" data-clipboard-text="<%= @membership.organization.current_api_key.access_token %>"
                  title="Copy to clipboard"><i class="icon-copy"></i></button>
            </span>
          </div><!-- /input-group -->
        <% else %>
          <% if @membership.is_admin? %>
            Click 'Regenerate' to create a token
          <% else %>
            <div class="text-center">API Token has not yet been generated. Please contact the organization administrator</div>
          <% end %>
        <% end %>
      </div>  
      <div class="col-12 col-sm-4 col-lg-4">
        <% if @membership.is_admin? %>
          <%= link_to raw('<i class="icon-refresh"></i> Regenerate'), reset_api_token_settings_membership_path(@membership), class: "btn btn-default pull-right" %>
        <% end %>
      </div>
    </div>
  </div>

  <%= form_tag add_member_to_organization_settings_membership_path(@membership) do %>
  <table class="table" id="organization-memberships">
    <thead>
      <tr>
        <th>Name</th>
        <th>Social</th>
        <th>Role</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% if @membership.is_admin? %>
      <tr>
        <td colspan="2"><input type="text" name="email" class="form-control" placeholder="Add by email address" /></td>
        <td>
          <select name="role" class="form-control">
            <option value="member">Member</option>
            <option value="administrator">Administrator</option>
          </select>
        </td>
        <td><button type="submit" class="btn btn-info pull-right"><i class="icon-plus"></i> Add</button></td>
      </tr>
    <% end %>
    <% @membership.organization.memberships.order(:is_admin).reverse.each do |membership| %>
      <tr>
        <td>
          <%= image_tag membership.user.profile_image_url, class: "img-circle", style: "width: 28px;" %>
          <%= membership.user.name %>
        </td>
        <td><%= render partial: "/shared/social_links", locals: { user: membership.user } %></td>
        <td><%= membership.is_admin? ? "Administrator" : "Member" %></td>
        <% if membership == @membership || !@membership.is_admin?%>
          <td>&nbsp;</td>
        <% else %>
          <td><%= link_to raw("<i class='icon-unlock-alt'></i> Remove"), remove_member_from_organization_settings_membership_path(@membership, params: { target_id: membership.id }), method: :delete, class: "btn btn-danger btn-xs pull-right" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>