<%= form_for @lti_app, html: { class: "form-horizontal" } do |f| %>
  <% if @lti_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lti_app.errors.count, "error") %> prohibited this lti_app from being saved:</h2>

      <ul>
      <% @lti_app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @lti_app.new_record? %>
    <div class="form-group">
      <label class="col-lg-3 control-label">Status</label>
      <div class="col-lg-9"><%= status_label(@lti_app.status) %></div>
    </div>
  <% end %>

  <% if @lti_app.new_record? %>
    <div class="form-group">
      <%= f.label :config_url, "App Configuration", class: "col-lg-3 control-label" %>
      <div class="col-lg-9">
        <div class="radio">
          <label>
            <input type="radio" name="cartridge_source" value="cartridge_id" <%= "checked" if params[:cartridge_source] == 'cartridge_id' %>>
            Use a configuration I have already built
          </label>
          <%= select_tag :lti_app_configuration_id, 
                options_from_collection_for_select(current_user.lti_app_configurations, 'id', 'title', params[:lti_app_configuration_id]), 
                include_blank: true, 
                class: "form-control", 
                style: (params[:cartridge_source] == 'cartridge_id' ? '' : 'display: none;'), 
                data: { toggle: "cartridge_source", target: "cartridge_id" } %>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="cartridge_source" value="url" <%= "checked" if params[:cartridge_source] == 'url' %>>
            Import from existing configuration xml (URL)
          </label>
          <%= text_field_tag :config_url, params[:config_url], 
                class: "form-control", 
                placeholder: "https://", 
                style: (params[:cartridge_source] == 'url' ? '' : 'display: none;'), 
                data: { toggle: "cartridge_source", target: "url" } %>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="cartridge_source" value="xml" <%= "checked" if params[:cartridge_source] == 'xml' %>>
            Paste configuration xml
          </label>
          <%= text_area_tag :xml, params[:xml], 
                rows: 6, 
                class: "form-control", 
                placeholder: "Paste XML here", 
                style: (params[:cartridge_source] == 'xml' ? '' : 'display: none;'), 
                data: { toggle: "cartridge_source", target: "xml" } %>
        </div>
        <div class="radio">
          <label>
            or <%= link_to "create a new configuration using the XML Tools", xml_builder_url %>
          </label>
        </div>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <label class="col-lg-3 control-label">XML Configuration</label>
      <div class="col-lg-9"><%= link_to raw('<i class="icon-pencil"></i> Click to edit the XML configuration'), "/tools/xml_builder#/#{@lti_app.lti_app_configuration.uid}" %></div>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-lg-3 control-label">Availability</label>
    <div class="col-lg-9">
      <div class="radio">
        <label><%= f.radio_button :is_public, true %> Publicly available (appears on app center)</label>
      </div>
      <div class="radio">
        <label><%= f.radio_button :is_public, false %> Private use only (unlisted)</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :short_name, "Organization", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <% if current_user.is_admin? %>
        <%= f.select :organization_id, Organization.all.collect { |o| [o.name, o.id] }, { include_blank: true }, { class: "form-control" } %>
      <% else %>
        <%= f.select :organization_id, current_user.organizations.all.collect { |o| [o.name, o.id] }, { include_blank: true }, { class: "form-control" } %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :short_name, "Unique Identifier", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <% if @lti_app.new_record? %>
        <%= f.text_field :short_name, class: "form-control", placeholder: "Unique Identifier", 
          data: { toggle: 'popover', placement: 'bottom', content: 'use underscore (_) for spaces and all lowercase, e.g. "khan_academy' } %>
      <% else %>
        <span class="form-control"><%= @lti_app.short_name %></span>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :author_name, "Author Name", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :author_name, class: "form-control", placeholder: "Author Name", 
            data: { toggle: 'popover', placement: 'bottom', content: 'Name which appears on the app page ( by Author Name )' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :short_description, class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_area :short_description, rows: 3, class: "form-control", placeholder: "Short Description", 
            data: { toggle: 'popover', placement: 'bottom', content: 'This description will appear on the app list (details view). Max of 255 characters.' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Description", 
            data: { toggle: 'popover', placement: 'bottom', content: 'This description will appear when viewing the individual app. You may be as descriptive as you would like. Markdown syntax is supported.' } %>
      <span class="help-block">You may use <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> syntax for including style, links and images</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :installation_instructions, "Installation Instructions", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_area :installation_instructions, rows: 8, class: "form-control", placeholder: "Installation Instructions", 
            data: { toggle: 'popover', placement: 'bottom', content: '.... Markdown syntax is supported.' } %>
      <span class="help-block">You may use <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> syntax for including style, links and images</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :testing_instructions, class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_area :testing_instructions, rows: 6, class: "form-control", placeholder: "Instructions for the administrator to follow in order to test the app (required for approval)", 
            data: { toggle: 'popover', placement: 'bottom', content: 'Every application must go through an approval process before appearing to the public. This is where you place instructions to the administrators on how to test the application. This can include contact information if needed.' }  %>
      <span class="help-block">You may use <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> syntax for including style, links and images</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :support_url, "Support URL", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :support_url, class: "form-control", placeholder: "http://", 
            data: { toggle: 'popover', placement: 'bottom', content: 'Website in which the user can get support for this app.' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ims_cert_url, "IMS Certificate URL", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :ims_cert_url, class: "form-control", placeholder: "http://", 
            data: { toggle: 'popover', placement: 'bottom', content: 'IMS provides certification of LTI apps. If your app is certified, you can place the link here.' } %>
      <span class="help-block">Paste the link listed <a href="http://www.imsglobal.org/cc/alltools.cfm">here</a> if certified</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :preview_url, "Preview URL", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :preview_url, class: "form-control", placeholder: "http://", 
            data: { toggle: 'popover', placement: 'bottom', content: 'This URL will be iframed in a modal window when PREVIEW is clicked. Provide this if you want the user to have a preview of the app.' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :banner_image_url, "Banner Image URL", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :banner_image_url, class: "form-control", placeholder: "https://" %>
      <span class="help-block">240x125 pixels. Either gif, png or jpg.</span>
    </div>
  </div>

  <!--

  <div class="form-group">
    <%= f.label :logo_image_url, "Logo Image URL", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :logo_image_url, class: "form-control", placeholder: "https://" %>
      <span class="help-block">75x75 pixels. Either gif, png or jpg.</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :icon_image_url, "Icon Image URL", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :icon_image_url, class: "form-control", placeholder: "https://" %>
      <span class="help-block">16x16 pixels. Either gif, png or jpg.</span>
    </div>
  </div>

  -->

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </div>
<% end %>
