<li data-name="<%= lti_app.name %>" data-tags="<%= lti_app.tag_ids.join(',') %>" class="lti-app as-list col-12 col-sm-6 col-lg-4">

  <div class="row details-view clearfix" style="display: none;">
    <div class="col-sm-3">
      <%= link_to image_tag(lti_app.banner_image_url, alt: lti_app.name, class: "img-thumbnail"), lti_app_path(lti_app.short_name) %>
    </div>
    <div class="col-sm-9">
      <p class="title">
        <%= star_rating(lti_app.average_rating, "pull-right") %>
        <%= link_to lti_app.name, lti_app_path(lti_app.short_name) %>
      </p>
      <div class="meta">
        <p class="description">
          <%= lti_app.short_description ? lti_app.short_description : truncate(lti_app.description, length: 250) %>
        </p>
        <%= render partial: "tag_cloud", locals: { tags: @tags, tag_ids: lti_app.tag_ids } %>
      </div>
    </div>
  </div>

  <div class="thumbnail-view thumbnail">
    <%= link_to image_tag(lti_app.banner_image_url, alt: lti_app.name, class: "img-thumbnail", width: 240, height: 125, style: "width: 240px; height: 125px;"), lti_app_path(lti_app.short_name) %>
    <div class="title">
      <%= star_rating(lti_app.average_rating, "mini-stars pull-right") %>
      <%= link_to lti_app.name, lti_app_path(lti_app.short_name) %>
    </div>
  </div>

</li>