<%= content_for :head do %>
  <%=raw js_env(@env) %>
  <%= javascript_include_tag "app_panels" %>
<% end %>

<div class="bg-light-gray">
  <div class="container">
    <div id="home-banner-wrapper">
      <h1>
        <strong>An open LTI app collection.</strong>
        Browse apps below or <%= link_to "learn more", about_path %>
      </h1>
    </div>

    <div ng-controller="AppPanelCtrl">
      <nav class="navbar navbar-default" id="filter-bar" role="navigation">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentCategory.name||'All Categories'}} <b class="caret"></b></a>
            <ul class="dropdown-menu" style="text-align: left;">
              <li><a href="#" ng-click="selectCategory()">All Categories</a></li>
              <li ng-repeat="item in categories">
                <a href="#" ng-click="selectCategory(item)">{{item.name}}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentEducationLevel.name||'All Grade Levels'}} <b class="caret"></b></a>
            <ul class="dropdown-menu" style="text-align: left;">
              <li><a href="#" ng-click="selectEducationLevel()">All Grade Levels</a></li>
              <li ng-repeat="item in educationLevels">
                <a href="#" ng-click="selectEducationLevel(item)">{{item.name}}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentPlatform.name||'All Platforms'}} <b class="caret"></b></a>
            <ul class="dropdown-menu" style="text-align: left;">
              <li><a href="#" ng-click="selectPlatform()">All Platforms</a></li>
              <li ng-repeat="item in platforms">
                <a href="#" ng-click="selectPlatform(item)">{{item.name}}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentAccess.name||'All Access'}} <b class="caret"></b></a>
            <ul class="dropdown-menu" style="text-align: left;">
              <li><a href="#" ng-click="selectAccess()">All Access</a></li>
              <li ng-repeat="item in accesses">
                <a href="#" ng-click="selectAccess(item)">{{item.name}}</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right pull-right">
          <li><a href="#" ng-click="reset()" class="pull-right btn btn-link">Reset</a></li>
        </ul>

        <form ng-submit="submitForm()" class="navbar-form pull-right" role="search" style="width: 280px;">
          <input type="text" ng-model="filterText" class="form-control" placeholder="filter by name"/>
        </form>
      </nav>

      <div class="row">
        <div class="col-4">
          <ul class="nav">
            <li style="line-height: 32px;">Showing {{(apps | filter:customCriteriaFilter).length}} Apps</li>
          </ul>
        </div>
        <div class="col-8">
          <ul class="nav nav-pills pull-right">
            <li ng-class="{active: sort == 'name'}"><a href="#" ng-click="sortBy('name')">Alphabetic</a></li>
            <li ng-class="{active: sort == '-average_rating'}"><a href="#" ng-click="sortBy('-average_rating')">Highest Rated</a></li>
            <li ng-class="{active: sort == '-total_ratings'}"><a href="#" ng-click="sortBy('-total_ratings')">Most Reviews</a></li>
            <li ng-class="{active: sort == '-created_at'}"><a href="#" ng-click="sortBy('-created_at')">Most Recent</a></li>
          </ul>
        </div>
      </div>

      <div id="apps-container">
        <div class="app-item col-3" ng-repeat="app in apps | filter:customCriteriaFilter | orderBy:sort">
          <div class="app-contents">
            <img class="ims-ribbon" ng-show="app.is_certified" src="<%= asset_path("ims-ribbon.png") %>" alt="IMS Certified">
            <a ng-href="/apps/{{app.short_name}}">
              <div class="banner">
                <img src="{{app.banner_image_url}}" class="img-thumbnail" />
              </div>
              <div class="details">
                <h4 class="name">{{app.name}}</h4>
                <p class="short-description">{{app.short_description}}</p>
                <div class="meta">
                  <div class="pull-right">
                    <span class="comment-count">{{app.total_ratings}}</span>
                  </div>
                  <i class="icon-key text-warning pull-right" style="margin-right: 5px;" ng-show="app.requires_secret"></i>
                  <span class="stars">
                    <span style="width: {{app.average_rating * 16}}px;"></span>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>