<div class="main-content">
  <div class="header clearfix">
    <h3 class="page-header"><%= @lti_app.name %></h3>
  </div>

  <p>
    <strong>User:</strong>
    <%= @lti_app.user %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= @lti_app.short_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @lti_app.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @lti_app.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @lti_app.status %>
  </p>

  <p>
    <strong>Testing instructions:</strong>
    <%= @lti_app.testing_instructions %>
  </p>

  <p>
    <strong>Support url:</strong>
    <%= @lti_app.support_url %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= @lti_app.author_name %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= @lti_app.is_public %>
  </p>

  <p>
    <strong>App type:</strong>
    <%= @lti_app.app_type %>
  </p>

  <p>
    <strong>Ims cert url:</strong>
    <%= @lti_app.ims_cert_url %>
  </p>

  <p>
    <strong>Preview url:</strong>
    <%= @lti_app.preview_url %>
  </p>

  <p>
    <strong>Config url:</strong>
    <%= @lti_app.config_url %>
  </p>

  <p>
    <strong>Data url:</strong>
    <%= @lti_app.data_url %>
  </p>

  <p>
    <strong>Cartridge:</strong>
    <%= @lti_app.cartridge %>
  </p>

  <p>
    <strong>Banner image url:</strong>
    <%= @lti_app.banner_image_url %>
  </p>

  <p>
    <strong>Logo image url:</strong>
    <%= @lti_app.logo_image_url %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= @lti_app.short_description %>
  </p>

</div>
