<%= content_for :head do %>
  <%= javascript_include_tag "configurator" %>
  <script>
    window.CONFIGURATOR_DATA = <%=raw @configurator_data.to_json %>;
  </script>
<% end %>

<div class="row padded">
  <div class="col-sm-12">
    <div class="main-content" style="min-height: 550px;">

      <ul class="breadcrumb">
        <% if current_user && current_user.can_edit?(@lti_app) %>
          <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_lti_app_path(@lti_app.short_name), class: "pull-right btn btn-info btn-xs" %>
        <% end %>
        <% if @lti_app.preview_url.present? %>
          <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#preview-modal"><i class="icon-search"></i> Preview</button>
        <% end %>
        <li><%= link_to "Apps", root_url %></li>
        <li class="active"><%= @lti_app.name %></li>
      </ul>
      
      <div class="app-details">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag @lti_app.banner_image_url, class: "img-thumbnail" %>
            <%= render partial: "/shared/add_this", locals: {options: {
              url: lti_app_url(@lti_app),
              title: @lti_app.name,
              description: @lti_app.short_description
            }} %>
          </div>
          <div class="col-sm-8">
            <% if @lti_app.ims_cert_url.present? %>
              <%= link_to image_tag("imscertifiedsm.png", class: "pull-right", style: "margin-left: 20px;"), @lti_app.ims_cert_url %>
            <% end %>
            
            <h2><%= @lti_app.name %></h2>
            <%= star_rating(@lti_app.average_rating, "mini") %>
            <div class="author">by <%= @lti_app.author_name %></div>
            <%= render partial: "tag_cloud", locals: { tags: @tags, tag_ids: @lti_app.all_tag_ids } %>
            <% if @lti_app.requires_secret %>
              <em>
                <i class="icon-key text-warning"></i> Requires Consumer Key and Secret
              </em>
            <% end %>
          </div>
        </div>
        <div class="description">
          <%= raw Maruku.new(@lti_app.description).to_html %>
        </div>

        
        <% if @lti_app.installation_instructions.present? %>
          <div class="description">
            <legend>Installation Instructions</legend>
            <%= raw Maruku.new(@lti_app.installation_instructions).to_html %>
          </div>
        <% end %>

        <div class="configuration-content" ng-controller="ConfigCtrl">
          <div id="config-options-form" ng-show="configOptions.length > 0 || optionalLaunchTypes.length > 0">
            <legend>Config Options</legend>
            <form class="form-horizontal" role="form">
              <div class="form-group" ng-repeat="co in configOptions">
                <label class="col-sm-3 control-label">
                  <div ng-show="co.type != 'checkbox'">
                    <abbr title="required" ng-show="co.is_required" class="ng-hide">*</abbr>
                    {{co.description}}
                  </div>
                </label>
                <div class="col-lg-9">
                  <label ng-show="co.type == 'checkbox'" ng-switch on="isCheckbox(co)">
                    <input type="checkbox" ng-model="co.is_checked"> {{co.description||co.name | inflector:humanize}} (checked value is <strong><em>{{co.default_value}}</em></strong>)
                  </label>
                  <input ng-show="co.type != 'checkbox'" type="text" ng-model="co.default_value" class="form-control" />
                </div>
              </div>
              <div class="form-group" ng-show="hasOptionalLaunchTypes()" class="ng-hide">
                <label class="col-sm-3 control-label">Optional Extensions:</label>
                <div class="col-lg-9">
                  <div class="checkbox" ng-repeat="opt in optionalLaunchTypes">
                    <label>
                      <input type="checkbox" ng-model="opt.is_checked" value="1"> Enable <strong><em>{{opt.name | inflector:humanize}}</em></strong>
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <legend>Configuration URL: <small class="pull-right"><%= link_to "Paste this URL into your LMS", tutorials_path('canvas') %></small></legend>
          <input type="text" onclick="this.select();" class="form-control" value="{{configUrl}}" />
        </div>
      </div>
        
      <hr class="dotted">

      <section class="app-reviews">
        <div class="well well-small">
          <div id="app-reviews">
            <% @lti_app.reviews.with_content.each do |review| %>
              <div class="app-review media">
                <a href="#" class="pull-left">
                  <%= image_tag review.user.profile_image_url, onerror: "imgError(this);", style: "width: 50px; height: 50px; margin-bottom: 5px;" %>
                  <%= star_rating(review.rating, "mini-stars") %>
                </a>
                <div class="media-body">
                  <div class="small"><span><%= review.user.name %></span> on <span><%= review.created_at.strftime("%b %d, %Y") %></span></div>
                  <%= review.comments %>
                </div>
              </div>
            <% end %>
            <% if @lti_app.reviews.count == 0 %>
              <h5 class="text-center">No reviews</h5>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<% if @lti_app.preview_url.present? %>
  <div class="modal fade" id="preview-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= @lti_app.name %></h4>
        </div>
        <iframe src="<%= @lti_app.preview_url %>" frameborder="0" style="width: 100%; min-height: 450px;"></iframe>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>