<div class="row padded">
  <div class="col-sm-9">
    <div class="main-content" style="min-height: 550px;">

      <ul class="breadcrumb">
        <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_lti_app_path(@lti_app.short_name), class: "pull-right btn btn-info btn-xs" %>
        <% if @lti_app.preview_url.present? %>
          <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#preview-modal"><i class="icon-search"></i> Preview</button>
        <% end %>
        <li><%= link_to "Apps", root_url %></li>
        <li class="active"><%= @lti_app.name %></li>
      </ul>
      
      <div class="app-details">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag @lti_app.banner_image_url, class: "img-thumbnail" %>
            <%= render partial: "/shared/add_this", locals: {options: {
              url: lti_app_url(@lti_app),
              title: @lti_app.name,
              description: @lti_app.short_description
            }} %>
          </div>
          <div class="col-sm-8">
            <h2><%= @lti_app.name %></h2>
            <%= star_rating(@lti_app.average_rating, "mini") %>
            <div class="author">by <%= @lti_app.author_name %></div>
            <%= render partial: "tag_cloud", locals: { tags: @tags, tag_ids: @lti_app.tag_ids } %>
          </div>
        </div>
        <div class="row">
          <div class="description col-12">
            <%= raw Maruku.new(@lti_app.description).to_html %>
          </div>
        </div>
        
        <hr class="dotted">

        <div class="configuration-content">
          <label>Configuration URL:</label>
          <div class="input-group">
            <input class="form-control" value="<%= @lti_app.config_url %>" />
            <span class="input-group-btn">
              <button class="copy-button btn" data-clipboard-text="<%= @lti_app.config_url %>"
                  title="Copy to clipboard"><i class="icon-copy"></i></button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>
        
      <hr class="dotted">

      <section class="app-reviews">
        <div class="well well-small">
          <div id="app-reviews">
            <% @lti_app.reviews.each do |review| %>
              <div class="app-review media">
                <a href="#" class="pull-left">
                  <%= image_tag review.user.profile_image_url, style: "width: 50px; height: 50px; margin-bottom: 5px;" %>
                  <%= star_rating(review.rating, "mini-stars") %>
                </a>
                <div class="media-body">
                  <div class="small"><span><%= review.user.name %></span> on <span><%= review.created_at.strftime("%b %d, %Y") %></span></div>
                  <%= review.comments %>
                </div>
              </div>
            <% end %>
            <% if @lti_app.reviews.count == 0 %>
                <h5 class="text-center">No reviews</h5>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<% if @lti_app.preview_url.present? %>
  <div class="modal fade" id="preview-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= @lti_app.name %></h4>
        </div>
        <iframe src="<%= @lti_app.preview_url %>" frameborder="0" style="width: 100%; min-height: 450px;"></iframe>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>