<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center" style="width: 50px;">
        <i class="canvas-icon-standards"></i>
      </th>
      <th class="text-center" style="width: 50px;">
        <i class="canvas-icon-user"></i>
      </th>
      <th class="text-center" style="width: 50px;">
        <i class="icon-key"></i>
      </th>
      <th class="text-center" >Created</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% organizations.each do |organization| %>
    <tr>
      <td><%= link_to organization.name, organization %></td>
      <td class="text-center"><%= organization.memberships.count %></td>
      <td class="text-center"><%= organization.lti_apps.count %></td>
      <td class="text-center"><%= organization.api_keys.active.count %></td>
      <td class="text-center" ><%= organization.created_at.strftime("%b %d, %Y") %></td>
      <td>
        <% if current_user.can_manage?(organization) %>
          <%= link_to raw('<i class="icon-pencil"></i> Edit'), edit_organization_path(organization.id), class: "pull-right btn btn-info btn-xs" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>