<div class="main-content">
  <div class="header clearfix">
    <%= link_to raw("<i class='icon-eye-close'></i> Hide All"), toggle_whitelist_organization_path(@organization, params: { visible: 0 }), class: "pull-right btn btn-default btn-xs" %>
    <%= link_to raw("<i class='icon-eye-open'></i> Allow All"), toggle_whitelist_organization_path(@organization, params: { visible: 1 }), class: "pull-right btn btn-success btn-xs", style: "margin-right: 5px;" %>
    <h3 class="page-header">Manage Whitelist</h3>
  </div>

  <ul class="breadcrumb">
    <li><%= link_to "Organizations", organizations_url %></li>
    <li><%= link_to @organization, organization_path(@organization) %></li>
    <li class="active">Manage Whitelist</li>
  </ul>

  <p style="text-decoration: line-through;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, accusantium, qui, ipsum magnam atque saepe nostrum omnis hic incidunt rerum porro eligendi natus commodi nihil quasi reiciendis est tenetur vero.</p>

  <fieldset>
    <legend>Our Apps</legend>
    <%= render partial: "whitelist_table", locals: { whitelist: @whitelist[:ours], organization_id: @organization.id } %>
  </fieldset>

  <fieldset>
    <legend>Other Apps</legend>
    <%= render partial: "whitelist_table", locals: { whitelist: @whitelist[:theirs], organization_id: @organization.id } %>
  </fieldset>
</div>