<div class="main-content">
  <div class="header clearfix">
    <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_admin_user_path(@user), class: "pull-right btn btn-info btn-xs" %>
    <h3 class="page-header">User: <%= @user.name %></h3>
  </div>

  <ul class="breadcrumb">
    <li><%= link_to "Users", admin_users_url %></li>
    <li class="active"><%= @user.name %></li>
  </ul>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#" data-target="#tab-details" data-toggle="tab">Details</a></li>
    <li><a href="#" data-target="#tab-apps" data-toggle="tab"><%= pluralize @user.lti_apps.count, "App" %></a></li>
    <li><a href="#" data-target="#tab-memberships" data-toggle="tab"><%= pluralize @user.memberships.count, "Membership" %></a></li>
    <li><a href="#" data-target="#tab-api-keys" data-toggle="tab"><%= pluralize @user.api_keys.count, "API Key" %></a></li>
    <li><a href="#" data-target="#tab-reviews" data-toggle="tab"><%= pluralize @user.reviews.count, "Review" %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab-details">
      <%= render partial: "/admin/shared/details", locals: { details: @user.details } %>
    </div>
    <div class="tab-pane" id="tab-apps">
      <%= render partial: "/admin/lti_apps/table", locals: { apps: @user.lti_apps } %>
    </div>
    <div class="tab-pane" id="tab-memberships">
      <%= render partial: "/admin/memberships/table", locals: { memberships: @user.memberships } %>
    </div>
    <div class="tab-pane" id="tab-api-keys">
      <%= render partial: "/admin/api_keys/table", locals: { api_keys: @user.api_keys } %>
    </div>
    <div class="tab-pane" id="tab-reviews">
      <%= render partial: "/admin/reviews/table", locals: { reviews: @user.reviews } %>
    </div>
  </div>
</div>