<h1>Listing reviews</h1>

<table>
  <thead>
    <tr>
      <th>Membership</th>
      <th>User</th>
      <th>Rating</th>
      <th>Comments</th>
      <th>Lti app</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.membership %></td>
        <td><%= review.user %></td>
        <td><%= review.rating %></td>
        <td><%= review.comments %></td>
        <td><%= review.lti_app %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
