<p id="notice"><%= notice %></p>

<p>
  <strong>Membership:</strong>
  <%= @review.membership %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.comments %>
</p>

<p>
  <strong>Lti app:</strong>
  <%= @review.lti_app %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
