<%= content_for :head do %>
  <%= javascript_include_tag "syntax_highlighter" %>
<% end %>

<div class="header clearfix">
  <h3 class="page-header">Canvas: WYSIWIG Extension</h3>
</div>

<h3>Introduction</h3>
<p>
  In Canvas you can configure an LTI tool to add content to a rich content editor. See Canvas documentation for more details <a href="https://canvas.instructure.com/doc/api/file.editor_button_tools.html">more information</a>.
</p>
<p>
  The examples are very basic, really just enough to get the point of the extension across. If you are interested in seeing more advanced or practical implementations, check out <a href="/index.html">the list of LTI apps on the home page</a>.
</p>

<hr>

<h3>Rich Editor Button Demo</h3>
<div class="row">
  <span class="col-sm-8">
      <p>
          This shows adding an editor button to the rich editor
          in course/group content. Editor button extensions show up in
          Canvas
          as icons in the right editor, in this case as a fish icon.
          This simple demo app lets the user pick from a list of fish
          pictures. The picture they choose will be inserted into the
          rich editor.</p>
      <p>
          Editor button apps can be configured at the course or account
          levels. If the app is configured at the account
          level, then the button will appear for any courses/groups within
          that account.
      </p>
    <a class="label label-info" data-toggle="modal" href="#editor-button-modal">xml
        configuration</a>
    <a class="label" href="https://canvas.instructure.com/doc/api/editor_button_tools.html">more
        information</a>
  </span>
  <span class="col-sm-4">
    <%= image_tag "editor_button_example.png", class: "preview img-thumbnail" %>
  </span>
</div>

<div class="modal fade" id="editor-button-modal">
  <div class="modal-dialog modal-wide">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Editor Button Configuration Example</h4>
      </div>
      <div class="modal-body">
        <pre class="brush: xml">
          <blti:title>I Like Fish</blti:title>
          <blti:description>I'm a big fan of fish, and I want to share the love</blti:description>
          <blti:extensions platform="canvas.instructure.com">
            <lticm:property name="tool_id">editor_button</lticm:property>
            <lticm:property name="privacy_level">anonymous</lticm:property>
            <lticm:options name="editor_button">
              <lticm:property name="url"><%= root_url %>tool_redirect?url=<%= CGI.escape('/images.html') %></lticm:property>
              <lticm:property name="icon_url"><%= root_url %>examples/fish_icon.png</lticm:property>
              <lticm:property name="text">Pick a Fish</lticm:property>
              <lticm:property name="selection_width">500</lticm:property>
              <lticm:property name="selection_height">300</lticm:property>
            </lticm:options>
          </blti:extensions>
          <blti:icon><%= root_url %>examples/fish_icon.png</blti:icon>
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<hr>
<h3>Another Rich Editor Button Demo</h3>
<div class="row">
  <span class="col-sm-8">
      <p>
          This shows adding an editor button to the rich editor
          in course/group content. Clicking the new kitten icon will pop up
          a dialog
          that uses placekitten.com to generate an image of a kitten set
          to the user's specified dimensions.
      </p>
      <p>
          Again, if the app is configured at the account
          level, then the button will appear for any courses/groups within
          that account.
      </p>
    <a class="label label-info" data-toggle="modal" href="#editor-button-2-modal">xml
        configuration</a>
    <a class="label" href="https://canvas.instructure.com/doc/api/editor_button_tools.html">more
        information</a>
  </span>
  <span class="col-sm-4">
    <%= image_tag "kitten_example.png", class: "preview img-thumbnail" %>
  </span>
</div>

<div class="modal fade" id="editor-button-2-modal">
  <div class="modal-dialog modal-wide">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Another Editor Button Configuration Example</h4>
      </div>
      <div class="modal-body">
        <pre class="brush: xml">
          <blti:title>Placekitten.com</blti:title>
          <blti:description>Placekitten.com is a quick and simple service for adding pictures of kittens to your site</blti:description>
          <blti:launch_url><%= root_url %>tool_redirect</blti:launch_url>
          <blti:extensions platform="canvas.instructure.com">
            <lticm:property name="tool_id">place_kitten</lticm:property>
            <lticm:property name="privacy_level">anonymous</lticm:property>
            <lticm:options name="editor_button">
              <lticm:property name="url"><%= root_url %>tool_redirect?id=place_kitten</lticm:property>
              <lticm:property name="icon_url"><%= root_url %>tools/place_kitten/icon.png</lticm:property>
              <lticm:property name="text">Insert a Kitten</lticm:property>
              <lticm:property name="selection_width">500</lticm:property>
              <lticm:property name="selection_height">400</lticm:property>
            </lticm:options>
          </blti:extensions>
          <blti:icon><%= root_url %>tools/place_kitten/icon.png</blti:icon>
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<hr>

<h3>Combination Rich Editor Button and Module Links Demo</h3>
<div class="row">
  <span class="col-sm-8">
      <p>
          This example shows configuring an app to serve multiple purposes
          at
          the same time. In this case, a single app can add both a fish
          icon to the rich editor, and the ability to add named fish pages
          to
          course modules.
      </p>
    <a class="label label-info" data-toggle="modal" href="#editor-button-module-links-modal">xml
        configuration</a>
    <a class="label" href="https://canvas.instructure.com/doc/api/tools_xml.html">more
        information</a>
  </span>
  <span class="col-sm-4">
  </span>
</div>

<div class="modal fade" id="editor-button-module-links-modal">
  <div class="modal-dialog modal-wide">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Editor Button and Module Links Configuration Example</h4>
      </div>
      <div class="modal-body">
        <pre class="brush: xml">
          <blti:title>I Like Fish</blti:title>
          <blti:description>I'm a big fan of fish, and I want to share the love</blti:description>
          <blti:extensions platform="canvas.instructure.com">
            <lticm:property name="tool_id">editor_button_and_resource_selection</lticm:property>
            <lticm:property name="privacy_level">anonymous</lticm:property>
            <lticm:options name="editor_button">
              <lticm:property name="url"><%= root_url %>tool_redirect?url=<%= CGI.escape('/images.html') %></lticm:property>
              <lticm:property name="icon_url"><%= root_url %>examples/fish_icon.png</lticm:property>
              <lticm:property name="text">Pick a Fish</lticm:property>
              <lticm:property name="selection_width">500</lticm:property>
              <lticm:property name="selection_height">300</lticm:property>
            </lticm:options>
            <lticm:options name="resource_selection">
              <lticm:property name="url"><%= root_url %>tool_redirect?url=<%= CGI.escape('/name.html') %></lticm:property>
              <lticm:property name="text">Pick a Fish Name</lticm:property>
              <lticm:property name="selection_width">500</lticm:property>
              <lticm:property name="selection_height">300</lticm:property>
            </lticm:options>
          </blti:extensions>
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
