<!DOCTYPE html>
<html>
<head>
  <title>Edu Apps</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header" class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to raw("<i class='icon-cog'></i> Edu Apps"), root_url, class: "navbar-brand" %>

    <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <li<% if controller_name == 'lti_apps' && @active_tab != 'admin' && !(['new', 'create', 'edit', 'my'].include? action_name) %> class="active"<% end %>><%= link_to "Apps", root_url %></li>
        <li<% if controller_name == 'static' && action_name == 'tutorials' %> class="active"<% end %>>
          <%= link_to "Tutorials", tutorials_path("canvas") %></li>
        <li<% if controller_name == 'static' && action_name == 'docs' %> class="active"<% end %>>
          <%= link_to "Docs", docs_path(section: "basics", page: "index") %></li>
        <li<% if controller_name == 'lti_apps' && (['new', 'create', 'edit', 'my'].include? action_name) %> class="active"<% end %>><%= link_to "My Apps", my_lti_apps_path %></li>
        <li<% if controller_name == 'xml_builder' %> class="active"<% end %>><%= link_to "My Configurations", xml_builder_path %></li>

        <% if current_user %>
          <% if current_user.is_admin? %>
            <li class="dropdown
            <% if @active_tab == 'admin' %>active<% end %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to raw('<i class="canvas-icon-standards"></i> LTI Apps'), admin_lti_apps_path %></li>
                <li><%= link_to raw('<i class="icon-building"></i> Organizations'), admin_organizations_path %></li>
                <li><%= link_to raw('<i class="icon-group"></i> Users'), admin_users_path %></li>
              </ul>
            </li>
          <% end %>

          <li<% if request.env["REQUEST_PATH"] =~ /\/settings\// %> class="active"<% end %>><%= link_to "Settings", edit_profile_path %></li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li<% if controller_name == 'session' %> class="active"<% end %>><%= link_to "Login", new_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= yield :sub_nav %>

<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div id="flash-view" class="<%= level %>">
      <div id="message"><%= flash[level] %></div>
    </div>
  <% end %>
<% end %>

<div class="bg-light-gray">
  <div class="container">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</div>

<footer id="footer">
  <div class="container">
    <p class="muted">
      This site and its contents are <a href="https://github.com/cavneb/edu_apps">available on GitHub</a> under the MIT license. Official IMS LTI docs are found on the <a href="http://www.imsglobal.org/lti/">IMS page</a>.<br>
      Also check out IMS's <a href="http://www.imsglobal.org/lti">LTI Directory</a> and details on <a href="http://www.imscert.org">LTI Conformance</a>.
    </p>
  </div>
</footer>

</body>
</html>
