<!DOCTYPE html>
<html>
<head>
  <title>Edu Apps</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header" class="navbar navbar-fixed-top">
  <%= link_to "Edu Apps", root_url, class: "navbar-brand" %>

  <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <li<% if controller_name == 'lti_apps' %> class="active"<% end %>><%= link_to "Apps", lti_apps_path %></li>
        <li<% if controller_name == 'static' && action_name == 'tutorials' %> class="active"<% end %>>
          <%= link_to "Tutorials", tutorials_path("canvas") %></li>
        <li<% if controller_name == 'static' && action_name == 'docs' %> class="active"<% end %>>
          <%= link_to "Docs", docs_path(section: "basics", page: "index") %></li>
        <li<% if controller_name == 'na' %> class="active"<% end %>><a href="#">Submit</a></li>

        <% if current_user %>
          <li<% if request.env["REQUEST_PATH"] =~ /\/settings\// %> class="active"<% end %>><%= link_to "Settings", edit_profile_path %></li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li<% if controller_name == 'session' %> class="active"<% end %>><%= link_to "Login", new_session_path %></li>
        <% end %>
      </ul>
    </div>
</div>

<%= yield :sub_nav %>

<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div id="flash-view" class="<%= level %>">
      <div id="message"><%= flash[level] %></div>
    </div>
  <% end %>
<% end %>

<div class="bg-light-gray">
  <div class="container">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</div>

<footer id="footer">
  <p class="muted">
    This site and its contents are <a href="https://github.com/cavneb/edu_apps">available on GitHub</a> under the MIT license. Official IMS LTI docs are found on the <a href="http://www.imsglobal.org/lti/">IMS page</a>.<br>
    Also check out IMS's <a href="http://www.imsglobal.org/lti">LTI Directory</a> and details on <a href="http://www.imscert.org">LTI Conformance</a>.
  </p>
</footer>

<% if Rails.env =~ /foo/ %>
<ul class="responsive-utilities-test visible-on">
  <li>
    <span class="hidden-sm">Small</span>
    <span class="visible-sm">✔ Small</span>
  </li>
  <li>
    <span class="hidden-md">Medium</span>
    <span class="visible-md">✔ Medium</span>
  </li>
  <li>
    <span class="hidden-lg">Large</span>
    <span class="visible-lg">✔ Large</span>
  </li>
</ul>
<% end %>

</body>
</html>
