<!DOCTYPE html>
<html <% if @ng_app %>ng-app="<%= @ng_app %>"<% end %>>
<head>
  <title>Edu App Center<%= content_for?(:title) ? " - #{yield(:title)}" : "" %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "/layouts/header" %>

<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div id="flash-view" class="<%= level %>">
      <div id="message"><%= raw Maruku.new(flash[level]).to_html %></div>
    </div>
  <% end %>
<% end %>

<div class="bg-light-gray">
  <div class="container">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</div>

<%= render partial: "/layouts/footer" %>
<%= render partial: "/layouts/user_voice" %>

</body>
</html>
