<!DOCTYPE html>
<html <% if @ng_app %>ng-app="<%= @ng_app %>"<% end %>>
<head>
  <title>Edu Apps</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body id="clean-body">

<%= render partial: "/layouts/header" %>

<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div id="flash-view" class="<%= level %>">
      <div id="message"><%= raw Maruku.new(flash[level]).to_html %></div>
    </div>
  <% end %>
<% end %>

<%= yield %>

<%= render partial: "/layouts/footer" %>

</body>
</html>
