<div class="app-contents">
  {{#with view.content}}
    <a {{bind-attr href=showUrl}}>
      <div class="banner">
        <img {{bindAttr src=banner_image_url}} class="img-thumbnail" />
      </div>
      <div class="details">
        <h4 class="name">{{name}}</h4>
        <p class="short-description">{{short_description}}</p>
        <div class="meta">
          <div class="pull-right">
            <span class="comment-count">{{total_ratings}}</span>
          </div>
          {{#instructure-stars value=average_rating}}{{/instructure-stars}}
        </div>
      </div>
    </a>
  {{/with}}
</div>