<nav class="navbar navbar-default" id="filter-bar" role="navigation">
  <ul class="nav navbar-nav">
    {{bootstrap-dropdown-select value=category 
                                options=categories
                                noneLabel='All Categories'}}
    {{bootstrap-dropdown-select value=education_level 
                                options=education_levels
                                noneLabel='All Grade Levels'}}
    {{bootstrap-dropdown-select value=platform 
                                options=platforms
                                noneLabel='All Platforms'}}
  </ul>

  <ul class="nav navbar-nav navbar-right pull-right">
    <li><a href="#" {{action "reset"}} class="pull-right btn btn-link">Reset</a></li>
  </ul>

  <form {{action "applyFilter" on="submit"}} class="navbar-form pull-right" role="search" style="width: 400px;">
    <div class="input-group">
      {{input type="text" value=filterText class="form-control" placeholder="filter by name"}}
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit"><i class="icon-search"></i></button>
      </span>
    </div>
  </form>
</nav>

<div class="row">
  <div class="col-4">
    <ul class="nav">
      <li style="line-height: 32px;">{{length}} Apps</li>
    </ul>
  </div>
  <div class="col-8">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Alphabetic</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Recent</a></li>
    </ul>
  </div>
</div>

{{view App.AppListView contentBinding="content"}}